
<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
  <head><script src="/docs/5.3/assets/js/color-modes.js"></script>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>GeoSteam</title>
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">


    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto"></header>

  <main class="px-3">
    <h1>GeoSteam</h1>
    <p class="lead">
        <nav class="nav justify-content-center pb-2">
            <a class="nav-link" href="operators">Operators</a>
<a class="nav-link" href="regions">Regions</a>
<a class="nav-link" href="wells">Wells</a>
<a class="nav-link" href="surface">Surface</a>
          </nav>
  </main>

  <footer class="mt-auto text-white-50">
  </footer>
</div>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    </body>
</html>
