{% extends "master.html" %}
{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr class="text-uppercase">
        <th scope="col">Region</th>   
        <th scope="col">Country</th>
        <th scope="col">Contact</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MENATI</td>
        <td>Turkey</td>
        <td>Name Name</td>
        <td>name@bakerhughes.com</td>
        <td>999-9999</td>
        <td>Update</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock  %}