{% extends "master.html" %}
{% block content %}
<div class="container">
    <table class="table table-striped">
      <thead>
        <tr class="text-uppercase">
          <th scope="col">Bottom Hole Temp</th>   
          <th scope="col">Bottom Hole Pressure</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>XXXX</td>
          <td>XXXX</td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr class="text-uppercase">
            <th scope="col">Seperator Pressure</th>
          <th scope="col">Turbine Efficiency</th>
          <th scope="col">Turbine Exit Pressure</th>
          <th scope="col">Condensor Pressure</th>

        </tr>
      </thead>
      <tbody>
        <tr>
     
          <td>XXXX</td>
          <td>XXXX</td>
          <td>XXXX</td>
          <td>XXXX</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr class="text-uppercase">
            <th scope="col">Required Output</th>
          <th scope="col">Mass Flow Rate of Steam Required</th>
          <th scope="col">Mass Flow Rate of Water Required</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>XXXX</td>
          <td>XXXX</td>
          <td>XXXX</td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock  %}