{% extends "master.html" %}
{% block content %}


<div class="container">
  <div class="bs-docs-section">
    <div class="row">
      <div class="col-lg-12 ">
        <div class="page-header">
          <h3 id="well_data">Well Data</h3>
        </div>


        <table class="table table-hover align-middle">
          <thead>
            <tr>
                <th scope="col">Bottom Hole Temp</th>   
                <th scope="col">Bottom Hole Pressure</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                
        {% if surfaces %}
        {% for surface in surfaces %}
                <td>{{ surface.temp_bottom_hole}}</td>
                <td>{{ surface.pressure_bottom_hole}}</td>

              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
  
      </div>
    </div>




    <div class="bs-docs-section">
      <div class="row">
        <div class="col-lg-12 ">
          <div class="page-header">
            <h3 id="well_data">Surface Data</h3>
          </div>
  
  
          <table class="table table-hover align-middle">
            <thead>
              <tr>

                  <th scope="col">Seperator Pressure</th>
                  <th scope="col">Turbine Efficiency</th>
                  <th scope="col">Turbine Exit Pressure</th>
                  <th scope="col">Condensor Pressure</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  
          {% if surfaces %}
          {% for surface in surfaces %}
                  <td>{{ surface.pressure_seperator}}</td>
                  <td>{{ surface.turbine_efficiency}}</td>
                  <td>{{ surface.turbine_exit_pressure}}</td>
                  <td>{{ surface.pressure_condensor}}</td>
                
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
    
        </div>
      </div>




      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12 ">
            <div class="page-header">
              <h3 id="well_data">Well Data</h3>
            </div>
    
    
            <table class="table table-hover align-middle">
              <thead>
                <tr>

                    <th scope="col">Required Output</th>
                    <th scope="col">Mass Flow Rate of Steam Required</th>
                    <th scope="col">Mass Flow Rate of Water Required</th>
                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    
            {% if surfaces %}
            {% for surface in surfaces %}
                    <td>{{ surface.required_output}}</td>
                    <td>Flow Rate Steam </td>
                    <td>Flow Rate Water </td>
                  </tr>
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
      
          </div>
        </div>





  </div>
  
  {% endblock  %}